body {
  background: #FFF;
  color: #333;
  font-family: 400 14px -apple-system,BlinkMacSystemFont,"Segoe UI","Droid Sans","PingFang SC","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: rgba(0,0,0,.98);
  word-wrap: break-word;
  text-decoration: none;

  &:hover {
    color: rgba(0,0,0,1);
    border-bottom: 1px solid rgba(0,0,0,.36);
  }
}

.main-home {
  header {
    h1 {
      a { display: none; }
    }
  }
}

.welcome {
  text-align: center;
  margin-bottom: 60px;

  .logo {width: 250px;}

  h1 {
    color: rgba(0,0,0,.9);
    font-family: "Helvetica Neue",Helvetica,Aria,sans-serif;
    font-size: 42px;
  }

  h2 {
    font-size: 24px;
    font-weight: 300;
    color: rgba(0,0,0,.42);
  }

  .badges {
    a:link,
    a:visited,
    a:hover { border: 0; }
  }

}

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  margin-bottom: 0;
  border-right: 1px solid #e6e6e6;


  h1 {
    text-align: center;
    margin-bottom: 50px;

    a {
      border: 0;
      display: block;
      line-height: 100%;
      &:hover {
        border:0;
      }
    }

    .logo {
      img { width: 100px; }
    }


  }


  ol, ul {
    margin: 0 0 14px 6px;
    padding-left: 16px
  }

  ul {
    list-style-type: none;
  }
  ol {
    list-style-type: none;
  }

  li {
    margin-bottom: .2em;
  }

}

.content {
  margin-left: 20%;
  padding: 30px 50px;

  h1 {     text-align: center; }
  a {
    color: rgba(0,0,0,.98);
    word-wrap: break-word;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,.26);

    &:hover {
      color: rgba(0,0,0,1);
      border-bottom: 1px solid rgba(0,0,0,.46);
    }

  }


  hr {
    display: block;
    border: 0;
    margin: 20px auto 20px;

    &:after {;
      color: rgba(0,0,0,.2);
      font-size: 1.1em;
      display: block;
      content: "~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~";
      text-align: center;
    }

  }

  ol, ul {
    margin: 0 0 24px 6px;
    padding-left: 16px
  }

  ul {
    list-style-type: square
  }
  ol {
    list-style-type: decimal
  }
  li {
    margin-bottom: .2em
  }

  li ol, li ul {
    margin-top: 0;
    margin-bottom: 0
  }

  li ul {
    list-style-type: disc
  }

  li ul ul {
    list-style-type: circle
  }

  li p {
    margin: .4em 0 .6em
  }

  code, tt {
    color: gray;
    font-size: 14px;
    padding: 1px 2px;
    display: inline-block;
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
    word-wrap: break-word;
    padding: 5px 8px;
    border-bottom: 1px dashed #f0f0f0;
    background: #f9f9f9;
  }

  pre {
    margin: 1.64em 0;
    padding: 7px 7px 7px 10px;
    border: none;
    border-left: 2px solid rgba(0,0,0,.08);
    overflow: auto;
    line-height: 1.5;
    font-size: 14px;
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
    color: rgba(0,0,0,.68);
    background-color: rgba(0,0,0,.02)
  }

  pre code, pre tt {
    color: rgba(0,0,0,.68);
    border: none;
    background: none;
    padding: 0
  }

  blockquote {
    margin: 0 0 1.64em;
    padding: 0 1em
  }

  blockquote, blockquote a {
    color: rgba(0,0,0,.68)
  }

}


@media (max-width: 700px) {
  header {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    padding: 0 50px;
  }
  .content {
    margin: 0;
  }
}


